.buttons {
    text-align: center;
    margin-top: 200px;
    display: flex;
    justify-content: space-evenly;
    
}

button {
    font-size: 20px;
}

/* header */
h1 {
    text-align: center;
    margin-top: 220px;
}

/* body */
#player {
    margin-top: 120px;
}


.fa-hand-back-fist {
    color: red ;
}

.fa-hand {
     color: blue;
}

.fa-hand-scissors {
    color: green;
}